# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
/.next

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.git-backup

# amplify
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
build/
dist/
node_modules/
# src/aws-exports.js
awsconfiguration.json
.cache

tmp
amplify/mock-data
iam-credentials.csv
node_modules
.next
__pycache__
env
users/htmlcov/
.env
XDG_CACHE_HOME/*
!services/users/requirements.txt
ansible
ansible/*
cypress/snapshots/
cypress/snapshots/*
terraform
terraform/
terraform/*
/terraform/*
terraform/**/*/
/terraform/**/*/
.jest/*
node_modules
node_modules/
node_modules/*
/node_modules
/node_modules/
.vscode
.vscode/
.reference
.reference/
terraform.tfvars
/**/*/terraform.tfvars
dockerstatus.txt
.jest
.jest/
/.jest/
/.jest/*

